body {
  background: rgb(255, 211, 196) url("https://ucarecdn.com/69ca6811-7172-49a8-a5f7-91eb407f0d3e/bgImage.png") no-repeat fixed center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-color: rgb(255, 241, 250);
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 5px;
  padding: 20px;
  box-shadow: -1px 1px 34px -9px rgba(188, 97, 97, 0.75);
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;

  &--header__section {
    h3 {
      font-size: 1.5rem;
    }
  }

  &--form__section {
    margin: .5rem 0 0 0;

    p {
      font-size: 1.25rem;
      font-weight: 500;
      font-family: "Rubik", sans-serif;
    }

    input {
      border: 0.5px solid #ccb3b3;
      width: 50%;
      height: 35px;
      font-family: "Rubik", sans-serif;
      border-radius: 5px;
      font-size: 1.25rem;

      &:focus-visible {
        border: 1px solid #ffcabe;
        outline: none;
      }
    }

    button {
      margin: 0 0 10px 10px;
      display: inline-block;
      width: 200px;
      height: 45px;
      border-radius: 100px;
      background-color: #f5c0c0;
      color: black;
      border: transparent;

      &:hover {
        background-color: #ffcabe;
      }
    }
  }
}

.app--secondary {
  @extend .app;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    padding: 8px;
  }

  thead tr {
    &:hover {
      background-color: inherit;
    }
  }

  tr:nth-child(even) {
    background-color: #fedede;
  }

  tr:hover {
    background-color: #ffcabe;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    overflow: hidden;
  }
}

.question--box {
  @extend .app;
  width: 600px;
  flex-direction: row;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.question {

  &-section {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-count {
    margin-bottom: 20px;
  }

  &-count span {
    font-size: 28px;
  }

  &-text {
    margin-bottom: 12px;
  }
}


.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  margin: 0 0 10px 10px;
  border-radius: 100px;
  background-color: #f5c0c0;
  color: black;
  border: transparent;
  width: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 4.5rem;
  padding: .5rem;
  align-items: center;

  &:hover {
    background-color: #ffcabe;
  }
}
